<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Social Zone</title>
    <script type="text/javascript">
        function runSearchQuery() {
            let input = document.getElementById("search_bar").value;
            window.location.replace("{% url 'search' %}?query=" + input);

            return false;
        }
    </script>
    {% block javascript %}
    {% endblock javascript %}
</head>


<body>
    {% if request.user.is_authenticated %}
    <form onsubmit="return runSearchQuery();">
        <input type="text" id="search_bar">
        <input type="submit" value="submit">
    </form>
    <a href="{% url 'index' %}">Home</a>
    <a href="{% url 'profile' id=request.user.id %}">Profile</a>
    <a href="{% url 'password_change' %}">Change password</a>
    <a href="{% url 'logout' %}">Log out</a>
    {% endif %}

    {% block content %}
    {% endblock content %}
</body>


</html>