{% extends 'social_media/base.html' %}

{% block content %}
<div class="grid place-items-center h-screen ">
    <form action="{% url 'password_change' %}" method="post" class="form"> {% csrf_token %}
        <h1 class="text-3xl text-center mb-8">Change Password</h1>
        <div class="mb-4">
            <label class="field-label" for="id_old_password">
              Old password
            </label>
            <input class="text-input" type="password" name="old_password" id="id_old_password" placeholder="*************" required>
        </div>
        <div class="mb-4">
            <label class="field-label" for="id_new_password1">
              New password
            </label>
            <input class="text-input" type="password" name="new_password1" id="id_new_password1" placeholder="*************" required>
            <!-- help text -->
            <div class="text-xs italic">{{ password_change_form.new_password1.help_text }}</div>
        </div>
        <div class="mb-4">
            <label class="field-label" for="id_new_password2">
              New password confirmation
            </label>
            <input class="text-input" type="password" name="new_password2" id="id_new_password2" placeholder="*************" required>
        </div>

        <!-- display errors -->
        {% for field in password_change_form %}
            {% for error in field.errors %}
                <p class="form-error-text">{{ error }}</p>
            {% endfor %}
        {% endfor %}
        {% if password_change_form.non_field_errors is not None %}
            <p class="form-error-text">{{ password_change_form.non_field_errors.as_text }}</p>
        {% endif %}

        <input class="form-button mt-4" type="submit" value="Confirm">
        <button class="form-button mt-4" onclick="javascript:history.back()">Cancel</button>
    </form>
</div>
{% endblock %}