{% extends 'social_media/base.html' %}

{% block content %}
    <h1>Friend requests</h1>
    <div id="list-of-relationships">
    {% for friend_request in friend_requests %}
        <div id="{{ friend_request.id }}">
            <img src="{{ friend_request.profile_image_url }}" alt="profile image">
            <a href="{% url 'profile' username=friend_request.username %}">{{ friend_request.username }}</a>
            <div id="relationship-action-{{ friend_request.id }}">
                <button onclick="acceptFriendRequest('{{ friend_request.id }}')">Accept</button>
                <button onclick="declineFriendRequest('{{ friend_request.id }}')">Decline</button>
            </div>
        </div>
    {% endfor %}
    </div>
{% endblock %}

{% block javascript %}
    {% include 'social_media/api/accept_friend_request.html' %}
    {% include 'social_media/api/decline_friend_request.html' %}
{% endblock %}