{% extends 'social_media/base.html' %}

{% block content %}
    {% if is_own %}
        <h1 class="text-3xl mb-4">Friend List</h1>
    {% else %}
        <h1 class="text-3xl mb-4">{{ requested_user_username }}'s Friend List</h1>
    {% endif %}
        <div id="list-of-relationships">
            {% for friend in friends %}
                <div id="{{ friend.id }}" class="border-solid shadow-md p-8 bg-white my-2">
                    <div class="flex flex-wrap justify-between items-center">
                        <a href="{% url 'profile' username=friend.username %}">
                            <div class="flex items-center">
                                <img class="avatar" src="{{ friend.profile_image_url }}" alt="profile image">
                                <p class="text-xl font-semibold">{{ friend.username }}</p>
                            </div>
                        </a>
                        {% if is_own %}
                            <div id="relationship-action-{{ friend.id }}">
                                <a href="{% url 'chat_room' chat_target_id=friend.id %}" class="button">Message</a>
                                <button class="button" onclick="removeFriend('{{ friend.id }}')">Remove friend</button>
                            </div>
                        {% endif %}
                    </div>
                </div>
            {% endfor %}
        </div>
{% endblock %}

{% block javascript %}
    {% if is_own %}
        {% include 'social_media/api/remove_friend.html' %}
    {% endif %}
{% endblock %}