{% extends 'social_media/base.html' %}

{% block content %}
<h1>Friend list</h1>
    {% if is_own %}
        <div id="list-of-relationships">
        {% for friend in friends %}
            <div id="{{ friend.id }}">
                <img src="{{ friend.profile_image_url }}" alt="profile image">
                <p>{{ friend.username }}</p>
                <div id="relationship-action-{{ friend.id }}">
                    <button onclick="removeFriend('{{ friend.id }}')">Remove friend</button>
                </div>
            </div>
        {% endfor %}
        </div>
    {% else %}
        {% for friend in friends %}
            <img src="{{ friend.profile_image_url }}" alt="profile image">
            <p>{{ friend.username }}</p>
        {% endfor %}
    {% endif %}
{% endblock %}

{% block javascript %}
    {% if is_own %}
        {% include 'social_media/api/remove_friend.html' %}
    {% endif %}
{% endblock %}