{% extends 'social_media/base.html' %}

{% block content %}
<div class="grid-y grid-frame align-center">
    <div class="grid-x grid-padding-x align-center cell-block">
        <div class="cell large-2">
            <h1 class="text-center">FriendZone</h1>
            <form action="/login/" method="post"> {% csrf_token %}
                <label for="id_email">Email:</label>
                <input type="email" name="email" maxlength="256" value="{{ login_form.email.data|default_if_none:"" }}" required autofocus id="id_email" placeholder="abc@email.com">
                
                <label for="id_password">Password:</label>
                <input type="password" name="password" required id="id_password" placeholder="password">

                <!-- display errors -->
                {% for field in login_form %}
                    {% for error in field.errors %}
                        <p>{{ error }}</p>
                    {% endfor %}
                {% endfor %}
                {% if login_form.non_field_errors is not None %}
                    <div class="form-error-message"><p>{{ login_form.non_field_errors.as_text }}</p></div> 
                {% endif %}


                <input class="button expanded" type="submit" value="Login">
            </form>
            <p class="text-center">or</p>
            <a class="button expanded" href={% url 'register' %}>Register now</a>
        </div>
    </div>
</div>
{% endblock %}