{% extends 'social_media/base.html' %}

{% block content %}
    <h1>Profile</h1>
    <p>Username: {{ username }}</p>
    <p>Email: {{ email }}</p>
    <p>Profile picture: <img src="{{ profile_image_url }}" alt="profile picture"></p>
    <p>Is own profile = {{ is_own_profile }}</p>
    {% if is_own_profile %}
        <a href="{% url 'profile_update' %}"> Update profile</a>     
    {% endif %}

    {% if not is_own_profile %}
        {% if is_friend %}
        <!-- Action: remove friend -->
            <button>Remove friend</button>         
        {% else %}
        <!-- Action: add friend, accept/decline friend request, cancel friend request -->
            {% if relation_type == 'not_friend' %}
                <button>Add friend</button>
            {% elif relation_type == 'sender' %}
                <button>Cancel friend request</button>
            {% elif relation_type == 'receiver' %}
                <button>Accept friend request</button>
                <button>Decline friend request</button>
            {% endif %}
        {% endif %}
    {% endif %}
    <a href="{% url 'friend_list' id=id %}">Friend list</a>
    
{% endblock %}