{% extends 'social_media/base.html' %}

{% block content %}
    <!-- profile detail -->
    <div class="relative">
        <div class="flex flex-wrap items-center border-solid shadow-md p-8 bg-white my-2">
            <div class="w-32 h-32 sm:w-72 sm:h-72 p-4">
                <img class="avatar-big" src="{{ profile_image_url }}" alt="profile picture">
            </div>
            <div>
                <p class="font-bold text-4xl py-2 px-4">{{ username }}</p>
                <p class="text-xl py-2 px-4">{{ email }}</p>
                <!-- <p>Is own profile = {{ is_own_profile }}</p> -->
                {% if is_authenticated and not is_own_profile %}
                    <button type="button" onclick="redirectToFriendList()" class="mt-2 mx-4 py-2 px-4 rounded-full border-0 font-semibold bg-blue-500 text-white hover:bg-blue-700">Friend List</button>
                {% endif %}
            </div>
        </div>
            {% if is_authenticated and is_own_profile %}
                    <a href="{% url 'profile_update' %}" class="absolute top-4 right-4">
                        <svg xmlns="http://www.w3.org/2000/svg" class="stroke-blue-500 hover:stroke-blue-700 h-6 w-6" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M15.232 5.232l3.536 3.536m-2.036-5.036a2.5 2.5 0 113.536 3.536L6.5 21.036H3v-3.572L16.732 3.732z" />
                        </svg>
                    </a>     
                    <!-- <a href="{% url 'friend_requests' %}">Friend requests</a> -->
            {% endif %}
    </div>

    {% if is_authenticated %}
        <!-- relationship action -->
        {% if not is_own_profile %}
        <div id="relationship-action-{{ id }}" class=" sm:flex items-center justify-between border-solid shadow-md px-8 py-5 bg-white my-2">
            {% if is_friend %}
            <!-- Action: remove friend -->
                <p class="text-lg">This user is your friend.</p>
                <button class="button" onclick="removeFriend('{{ id }}')">Remove friend</button>         
            {% else %}
            <!-- Action: add friend, cancel friend request, accept/decline friend request -->
                {% if relation_type == 'not_friend' %}
                    <p class="text-lg">This user is not your friend. Send him/her a friend request?</p>
                    <button class="button" onclick="sendFriendRequest('{{ id }}')">Send friend request</button>
                {% elif relation_type == 'sender' %}
                    <p class="text-lg">You have sent him/her a friend request.</p>
                    <button class="button" onclick="cancelFriendRequest('{{ id }}')">Cancel friend request</button>
                {% elif relation_type == 'receiver' %}
                    <p class="text-lg">This user has sent you a friend request.</p>
                    <div>
                        <button  class="button" onclick="acceptFriendRequest('{{ id }}')">Accept</button>
                        <button  class="button" onclick="declineFriendRequest('{{ id }}')">Decline</button>
                    </div>
                {% endif %}
            {% endif %}
        </div>
        {% endif %}
    {% endif %}

    <!-- post form -->
    <div class="border-solid shadow-md p-8 bg-white">
        <!-- header -->
        <div class="flex items-center mb-2">
            <img class="avatar" src="{{ user.profile_image.url }}" alt="profile image">
            <p class="text-xl font-semibold">{{ user.username }}</p>
        </div>

        <textarea class="border-2 w-full focus:outline-none p-2" name="text" id="id_text" cols="30" rows="10" maxlength="500" placeholder="How are you feeling today?"></textarea>
        <div id="post-errors-div" class="form-error-text py-2"></div>
        <div id="image-div" class="sm:flex justify-between">
            <!-- <img src="#" id="post-image-preview">
            <label for="id_image" class="button">Upload Image</label>
            <input type="file" name="image" accept="image/*" id="id_image" class="show-for-sr" onchange="document.getElementById('post-image-preview').src = window.URL.createObjectURL(this.files[0])"><br> -->

            <!-- image picker -->
            <span class="sr-only">Choose profile photo</span>
            <input type="file" name="image" accept="image/*" id="id_image" class="
            text-blue-500
            file:mr-4 file:py-2 file:px-4
            file:rounded-full file:border-0
            file:text-md file:font-semibold
            file:bg-blue-500 file:text-white
            hover:file:bg-blue-700
            "/>
            <button id="post-button" class="button" onclick="create_post()">Post</button>
        </div>
    </div>
    
    <div id="posts"></div>

    {{ username|json_script:"username"}}
    {{ user.profile_image.url|json_script:"profile-image-path" }}
    <script>
        
        let username = JSON.parse(document.getElementById('username').textContent);
        let profileImagePath = JSON.parse(document.getElementById('profile-image-path').textContent);
        let url = "{% url 'user_posts' username='abc' %}".replace('abc', username);

        fetch(url).then(function(response) {
            return response.json()
        }).then(function (data) {
            let postsDiv = document.getElementById('posts');

            for(let i = 0; i < data.length; i++) {
                let postDiv = document.createElement('div');
                postDiv.classList.add('border-solid', 'shadow-md', 'p-8', 'bg-white', 'my-2')
                        
                // header
                let headerDiv = document.createElement('div');
                headerDiv.classList.add('flex', 'mb-2', 'items-center');

                let profileImage = document.createElement('img');
                profileImage.setAttribute('src', profileImagePath)
                profileImage.classList.add('avatar');
                headerDiv.appendChild(profileImage);

                let div = document.createElement('div');
                let usernameP = document.createElement('p');
                usernameP.innerText = username;
                usernameP.classList.add('text-xl', 'font-semibold')
                div.appendChild(usernameP);
                        
                let dateCreatedP = document.createElement('p');
                dateCreatedP.innerText = data[i]['date_created'];
                div.appendChild(dateCreatedP);
                headerDiv.appendChild(div);
                postDiv.appendChild(headerDiv);
                        
                // post content
                if (data[i]['text'] != null) {
                    let textP = document.createElement('p');
                    textP.innerText = data[i]['text'];
                    textP.classList.add('text-lg', 'sm:text-3xl');
                    postDiv.appendChild(textP);
                }
                        
                if(data[i]['image'] != null) {
                    let postImg = document.createElement('img');
                    postImg.setAttribute('src', data[i]['image']);
                    postImg.classList.add('object-cover', 'h-72', 'mt-2');
                    postDiv.appendChild(postImg)
                }

                postsDiv.appendChild(postDiv);
            }
        })

        function redirectToFriendList() {
            window.location.href = "{% url 'friend_list' username=username %}";
        }
    </script>
{% endblock %}

{% block javascript %}
    {% include 'social_media/api/remove_friend.html' %}
    {% include 'social_media/api/send_friend_request.html' %}
    {% include 'social_media/api/cancel_friend_request.html' %}
    {% include 'social_media/api/accept_friend_request.html' %}
    {% include 'social_media/api/decline_friend_request.html' %}
    {% include 'social_media/api/create_post.html' %}
{% endblock %}